/**
 * OpenSong Library Online
 * 
 * version: 2.0
 * file version: 2.0
 * updated: 2021-06-18 | 07:33 UTC
 * 
 */

/* Cascading Style Sheet File to attach after login for OpenSong Library Manager
 *
 * @author JMW
 */

 #sets_badge {
    position: absolute;
    z-index: 10;
    top: 46%;
    left: 3px;
    padding: 2px 2px 2px 2px;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -khtml-border-radius: 1em;
    font-size: 0.6em;
    line-height: 1em;
    display: none; 
 }

/* Profile page */
#profile_success { display:none; }
#user_full_name {width: 15em; }
#pwd_reset_btn { width: 10em; }
#pwd_reset_btn_spinner { display: none; width: 1em; height: 1em; }

/* User Management page */
#add_user_btn { float: right; }
#uadd_error { display: none; }
.usr-mgmt-head { background-color: #623891; margin-bottom: 0.3em; color: #FFFFFF; }
.usr-mgmt-item-display, .usr-mgmt-item-edit { border-bottom: 1px solid #623891; padding-bottom: 0.3em; padding-top: 0.3em; }
.usr-mgmt-item-edit { display: none; }
.usr-mgmt-item-display .dropdown-toggle { padding-top: 0; padding-bottom: 0; }
.usr-mgmt-item-display .dropdown-toggle:after { display: none; }
.fac-user-checks { margin-left: 1em; }

/* Force Password Reset */
#force_pwd_reset_error { display: none; }

/* add song interface */
.field-w-button-after {
   width: 90%;
}
.button-after-field {
   position: relative;
   left: 91%;
   top: calc(-1.5em - .75rem - 2px);
}
.os-item-add {
   margin: 5px;
}
#new_song_lyrics { 
   font-family: monospace; 
}
.add-song-alerts { display: none; }
#btn_new_song_save { min-width: 8em; }
#newsong_save_spinner { display: none; }

/* current set interface */
#set_title_edit, #cur_set_save_error, #cur_set_save_success { display: none; }
#set_title_edit_go {
    cursor: pointer;
}
#set_title_edit_go:hover {
    color: #623891;
}
#save_set { min-width: 40px; min-height: 40px; }

.set-row {
    background-color: #623891;
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 1em 1.5em 1em 1.5em;
    cursor: move;
}
.set-del-item {
    float: right;
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding-left: 5px;
    padding-top: 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: white;
}
.set-del-item:hover {
    background-color: #ffffff;
    color: #3F245E
}
#close_cur_set_save_success {
   cursor: pointer;
}

/* all sets */
#sets_icon, #oldsets_icon, #oldsets_spinner  {
   position: absolute;
   width: 20px;
   height: 20px;
   top: 130px;
   left: 100%;
   margin-top: -54px;
   margin-left: -51px;
   z-index: 20;
   color: #623891;
   display: none;
}
#sets_icon {
   top: 50%;
   left: 50%;
   margin-top: -30px;
   margin-left: -27px;
}
#oldsets_spinner {
   margin-top: -60px;
   margin-left: -60px;
}

#allSets { overflow: hidden; }

#oldsets_container { height: 90%;}
#oldsets_list { 
   border-right: solid 1px #777777; 
   overflow-y: auto;
}
#oldsets_details { display: none; }
#oldset_list_container {
   border-top: 1px solid #3F245E;
}
li.oldset-item {
   border-bottom: 1px solid #3F245E;
   padding: 3px;
   min-height: 30px;
   cursor: pointer;
}
li.oldset-song {
   cursor: pointer;
}
li.oldset-item:hover, li.oldset-song:hover {
   background-color: #623891;
   color: #FFFFFF;
   padding: 3px;
}
li.oldset-item::after{
   font-family: "Font Awesome 5 Pro";
   font-weight: 900;
   content: "\f054";
   float: right;
   color: #623891;
   /* margin-right: 3px; */
}
.oldset-item:hover::after {
   color: #FFFFFF;
}
#oldsets_details svg {
   margin-right: 0.3em;
}
#oldsets_details li {
   min-height: 35px;
}
#oldsets_details_close {
   cursor: pointer;
   display: none;
   margin-top: -30px;
   margin-bottom: 0.5em;
}
#oldset_file_error { display: none; }


@media screen and (max-width: 992px) {
   #oldsets_details { 
       left: 100%;
       position: absolute; 
   }
   #oldsets_list { border-right: none; }
   #oldsets_details_close { display: block; }
}



 /* dark mode */
@media (prefers-color-scheme: dark) {
   a.dropdown-item { color: #FFFFFF; cursor: pointer; }
}
