/**
 * OpenSong Library Online
 * 
 * version: 2.0
 * file version: 2.0
 * updated: 2021-06-18 | 07:33 UTC
 * 
 */

/* Main Cascading Style Sheet File for OpenSong Library Manager
 *
 * @author JMW
 */

/* global fonts */
body {
    font-family: "Calibri", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Cambria", "Merriweather", Georgia, serif;
    color: #623891;
}


/* site color */
.text-purple {
    color: #3F245E;
}

a:link, a:visited, a:hover { color:#623891; }
a:active { color: #3F245E; }

a.btn-purple { color: #FFFFFF; }

.bg-purple,
.btn-purple {
    background-color: #3F245E;
    color: #FFFFFF;
}

code {
    font-size: 95%;
    color: #007bff;
}

/* set global selection colors */
::selection {
	background: #623891;
	color: #FFFFFF;
}

::-moz-selection {
	background: #623891;
	color: #FFFFFF;
}

/* form control focus */
.form-control:focus {
    border-color: #623891;
    box-shadow: 0 0 0 0.2rem rgba(98,56,145,.25);
}

/* Splash Screen */
#splashscreen {
    z-index: 10000;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #555555;
    background-image: radial-gradient(#777777, transparent);
}

#splashscreen img {
    height: 128px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -64px;
    margin-left: -64px;
}
#splashcopy {
    color: #FFFFFF;
    font-size: 0.8rem;
    position: absolute;
    bottom: 6px;
    width: 100%;
    text-align: center;
}
#splashnoscript {
    font-size: 1.3em;
    color: #FFFFFF;
    width: 70%;
    margin-left: 15%;
    text-align: center;
    top: 15%;
    position: absolute;
}


/* nav logo */
nav img {
    height: 36px;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-toggler {
    position: absolute;
    right: 5px;
    top: 2px;
}

a.nav-link {
    text-decoration: none;
}
a.nav-link:link,
a.nav-link:visited {
    color: #FFFFFF;
}

a.nav-link:hover {
    color: #CCCCCC;
}

li.nav-item.active {
    font-weight: bold;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #623891;
    color: #FFFFFF;    
}

.fac-nowrap {
    display: block;
    margin-bottom: 0.5em;
}

.progress {
    height: 30px;
}

#pText,
#pData {
    font-size: 0.9em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#pText {
    font-style: italic;
}

#pData {
    text-align: right;
}

#nextSongNumber {
    width: 5em;
    display: inline-block;
}

#noid_btn_txt {
    display: inline-block;
}

#noid_btn_spinner {
    display: none;
    left: 50%;
    position: relative;
}

#success_msg,
#error_msg,
#local_empty_db,
#remote_no_connect {
    display: none;
}

.closer {
    float: right;
    cursor: pointer;
}


/* css for database display */

body {
    overflow: hidden;
}

body.scrollable { overflow: auto; }

body footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding: 5px 5px 0 10px;
    height: 35px;
    font-size: 0.8em;
    z-index:500;
}
body footer .row {
    margin: 0;
}

#sorter { margin-right: 2.5em; }
#loadingspinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
}
#firstrunmsg {
    display: none;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: 30px;
    text-align: center;
}
#searchicon, #dbicon, #erroricon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -12px;
    z-index: 20;
    color: #623891;
    display: none;
}
#erroricon {
    width: 48px;
    height: 48px;
    margin-top: -24px;
    font-size: 2.5em;
    margin-left: -15px;
}

#dbicon { margin-left: -11px; }
.dbcontent {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1em;
}
#updatingspinner {
    height: 0.7rem;
    width: 0.7rem;
    vertical-align: middle;
    display: none;
}
#updatebad, #updategood, #refreshdb { display: none; }
#refreshdb { cursor: pointer; }
#refreshdb:hover { color: #623891; }

.dbdata { display: none; }
#dblist { margin-left: 20px; }

#legend { float: right; width: 35%; font-size: 0.8em; text-align: right; }
#jumper { 
    position: fixed; 
    top: 54px; 
    left: 5px; 
    width: 1.5em; 
    padding: 3px; 
    background-color: #623891; 
    color: #FFFFFF; 
    text-align: center; 
    font-size: 0.8em; 
    display: none; 
    z-index: 1000; 
}
#jumper a { color: #FFFFFF; text-decoration: none; }
.jumper_item { cursor: pointer; }

ul { list-style-type: none; margin: 0; padding: 0; }
ul.subline { margin-left: 1.5em; display: none; }
li.item { border-bottom: 1px solid #3F245E; padding: 3px; }
li.item_nav, div.item_dropdown { padding: 3px; cursor: pointer; }
li.item_nav:hover, div.item_dropdown:hover {
    background-color: #623891;
    color: #FFFFFF;
    padding: 3px;
}
li.item_nav::after, li.item_nav:hover::after {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: "\f054";
    float: right;
    color: #623891;
    /* margin-right: 3px; */
}
li.item_nav:hover::after {
    color: #FFFFFF;
}
div.item_dropdown::before, div.item_dropdown:hover::before {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    float: left;
    content: "\f0da";
    margin-right: 3px;
}
div.item_dropdown.open::before, div.item_dropdown.open:hover::before {
    content: "\f0d7";
}

li.newsection { background-color: #3F245E; color: #FFFFFF; font-weight: bold; padding: 3px 3px 3px 7px; }

#itemdetail { display: none; }
.back-to-list { text-align: right; cursor: pointer; }
.back-to-list:hover {
    color: #3F245E;
    text-decoration: underline;
}
p.songsection {
    margin: 1em 0 0 0;
    font-weight: bold;
    font-style: italic;
    font-size: 1.1em;
}
p.songlyrics {
    margin-bottom: 0; 
}
#itemdetail code {
    color: #000000;
    font-size: 1.1em;
}
#more_details p {
    margin: 0;
}

/* setup */
#code_form { display: none; }

/* login */
#login_error { display: none; }
#loginContainer button { width: 6.5em; }
.btn-spinner { 
    display: none;
    position: relative;
    left: 46%;
}

/* bold and italic */
.text-bold { font-weight: bold; }
.text-italic { font-style: italic; }

/* dark mode */
@media (prefers-color-scheme: dark) {
    
    body, body footer {
        background-color: #222222;
        color: #FFFFFF;
    }

    a:link, a:visited { color:#FFFFFF; text-decoration: underline; }
    a:active, a:hover { color:#623891; }

    a.nav-link { text-decoration: none; }
    .dropdown-menu {
        background-color: #222222;
        border: 2px solid #3F245E;
    }
    a.dropdown-item { text-decoration: none; }

    #itemdetail code {
        color: #FFFFFF;
    }

    li.item {
        border-bottom-color: #555555;
    }
    #searchbox {
        background-color: #333333;
        color: #FFFFFF;
    }
    .btn-outline-light:hover {
        color: #ffffff;
        background-color: #333333;
        border-color: #623891;
    }
    div.modal-body { color: #000000; }
    a.btn { text-decoration: none;}
    
    .card-body { background-color: #222222; border-color: #999999; }

    .form-control, .form-control:focus {
        background-color: #333333;
        color: #FFFFFF;
    }
    .form-control:disabled {
        background-color: #111111;
        color: #777777;
    }

    .fac-purple > input + label:before,
    .fac-purple > span::after {
        color: #623891;
    }
} 
