<!-- About the site html snippet -->
<!-- Language: English (US)-->
<p>This website contains the list of English-language titles, authors and Song Select (CCLI) numbers currently available in our OpenSong library. You can browse the songs in the list and sort them by title and alias (i.e. other titles the song may be known under), by official title, by author’s last name or by the author’s first name. Please be aware that the authors listed are the actual people who wrote the songs, not the recording artists who performed the song. You can also search for specific songs by using the title, alias, or author’s name.</p>
<p>Questions in regard to the website can be addressed to the web site administrator.</p>
